<%- include('templates/header') %>

<%- include('templates/navbar', {navLinks: navLinks, username}) %>

<div style="display: grid; place-items: center;">
  <h2 style="margin: 2vw;"><a href="/notifications" style="color: white;">←</a> Notifications</h2>
  <form action='/recordNotification' method='post' style="width: auto;">
    <!-- title -->
      <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-2 col-form-label" >Title</label>
          <input type="text" class="form-control" id="inputEmail3" name='title' required=true>
      </div>
      <!-- notes -->
      <div class="row mb-3">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Notes</label>
          <textarea type="text" class="form-control" id="inputPassword3" name='notes' required></textarea>
      </div>
      <!-- Day -->
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label" >Day</label>
        <select id="day-of-week" name="day" class="form-select" aria-label="Default select example" required>
          <option value="1" disabled selected>Select a day</option>
          <option value="1">Monday</option>
          <option value="2">Tuesday</option>
          <option value="3">Wednesday</option>
          <option value="4">Thursday</option>
          <option value="5">Friday</option>
          <option value="6">Saturday</option>
          <option value="0">Sunday</option>
      </select>
      </div>
      <!-- time -->
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label" >Time</label>
        <input type="time" class="form-control" id="inputEmail3" name='time' min="01:00" max="23:59" required>
      </div>

      <div style="display: grid; place-items: center;">
          <button type="submit" class="btn btn-primary" id="notificationButton">Create</button>
      </div>
  </form>
</div>

<%- include('templates/navbarMobile') %>
<%- include('templates/footer') %>