<%- include('templates/header') %>

<%- include('templates/navbarSignup') %>

    <div style="display: grid; place-items: center;">
        <h2 style="margin: 4vw;">Login</h2>
        <form action='/verifyUser' method='post' style="width: auto;">
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label" >Email</label>
                <input type="email" class="form-control" id="inputEmail3" name='email' required=true>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword3" name='password' required="true">

            </div>
            <!-- Forgot password field -->
            <div>
                <p style="text-align: right;"><a href="/confirmUser" class="links">Forgot password?</a></p>
            </div> <br>
            <div style="display: grid; place-items: center;">
                <button type="submit" class="btn btn-green">Sign in</button>
                
            </div>
        </form><br><br>
       

        <p style="text-align: center;">Don't have an account? <a href='/signup' class="links">Create user</a></p><br>
        <p style="text-align: center;"><b>or</b></p>
        <br>
        
        <form method="get" action="/auth/google">
            <button type="submit" class="btn btn-green" style="display: flex; align-items: center;">
                <img src="/images/Google__G__Logo.webp" style="width: 20px; height: 20px; margin-right: 8px;"/>
                <span>Login with Google</span>
            </button>
        </form>
    </div>



    <%- include('templates/navbarMNU') %>
    <%- include('templates/footer') %>