<%- include('templates/header') %>
    <link href="/css/recycleCenters.css" rel="stylesheet">
    <% if(username) {%>
        <%- include('templates/navbar', {navLinks: navLinks}) %>
            <% }else {%>
                <%- include('templates/navbarGuest') %>
                    <% }%>
                        <div class="pt-5">
                            <div class="container input-group mt-3 mb-3">

                                <input type="text" id="auto-suggest" autocomplete="off" class="form-control" placeholder="Search type of waste..."
                                    aria-label="Searchbar" aria-describedby="button-addon2">
                                <button class="btn btn-green" onclick="getSelected2()">Find Location</button>
                            </div>
                            <div id="suggestions"></div>
                            <div id="map" class="container text-center"></div>

                            <div id="infoCard" class="container d-flex flex-row justify-content-evenly mt-5 text-center"></div>

                            <!-- <div id="place-details"></div> -->

                            <!-- <script>
                mapboxgl.accessToken = 'pk.eyJ1IjoiZGFycmVsZ2lvIiwiYSI6ImNsdzhoMDRibjJjc2EybnF6a2FhdWs2YTgifQ.11mCPzXcuXT20hmypmw50w';

                const map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v12',
                    center: [-123.06925252771276, 49.26264182277888,],
                    zoom: 9.5
                });
            </script> -->
                            <style>
                                .marker {
                                    background-image: url('/images/location-pin.png');
                                    background-size: cover;
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 10%;
                                    cursor: pointer;
                                }
                            </style>
                        </div>
                        <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqMWhRWQ2etM9TJFgDK7gXxPZ18IznGCQ&callback=initMap&libraries=places">
                            </script>
                        <script src="maps.js"></script>
                        <%- include('templates/footer') %>