#container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.scan-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.scan-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
}

#filterForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
}

.filter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px; /* Add gap between label and select */
}

#filterForm label {
    margin-bottom: 5px;
    text-align: center; /* Center the label text */
}

#filterForm select, #filterForm button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#filterForm button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#filterForm button:hover {
    background-color: #0056b3;
}

/* Modal styles
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px; /* Add gap between the elements */

/* #chartContainer {
    width: 80%;
    max-width: 600px;
    height: 400px;
    margin: 50px auto;
    display: none;
  } */ 