.card{
    height: auto;
    width: 22vw;
    text-align: center;
    margin-bottom: 2vh;
}
#notifications{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 2vw;
}

@media (max-width: 1150px) {
    #notifications{
        display: grid;
        grid-template-columns: auto auto auto;
        margin-left: 2vw;
        margin-bottom: 2vh;
    }
    .card{
        height: auto;
        width: 30vw;
        text-align: center;
    }
}
@media (max-width: 800px) {
    #notifications{
        display: grid;
        grid-template-columns: auto auto;
        margin-left: 2vw;
        margin-bottom: 2vh;
    }
    .card{
        height: auto;
        width: 40vw;
        text-align: center;
    }
}

@media (max-width: 600px) {
    #notifications{
        display: grid;
        grid-template-columns: auto ;
        margin-left: 2vw;
        margin-bottom: 2vh;
        place-items: center;
    }
    .card{
        height: auto;
        width: 70vw;
        text-align: center;
    }
}