#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    text-align: center;
    padding: 20px;
}

#videoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.file-btn {
    width: 260px;
}

.image {
    height: 50vh;
    width: auto;
    border-radius: 30px;
    margin-bottom: 2em;
}

a {
    text-decoration: none;
}

#feedback {
    padding: 1em;
}

#prediction {
    margin-bottom: 1em;
}

@media (max-width: 800px) {
    .image {
        height: 35vh;
    }
}

@media (max-width: 450px) {
    #inputChoice {
        display: grid;
    }

    #inputChoice #takeAPhoto {
        width: 150px;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    #inputChoice .file-btn {
        margin-top: 10%;
    }
}