#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    text-align: center;
    padding: 20px;
}

#videoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.file-btn {
    width: 250px;
}

.image {
    height: 50vh;
    width: auto;
    border-radius: 30px;
    margin-bottom: 2em;
}

@media (max-width: 800px) {
    .image {
        height: 35vh;
    }
}