body {
    margin: 0px;
    padding: 0px;
    /* background: #345830; */
    font-family: "Comfortaa" sans-serif;
    /* color: #f5ece5 */
    background: #f5ece5;
    color: #5e9b55;
}

.btn {
    background-color: #f5ece5;
    color: #5e9b55;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45523e;
    color: #f5ece5;
}

.cancel {
    background-color: #ad5d50;
    color: #f5ece5;
}

.cancel:hover {
    background-color: #a40406;
}