<dialog id="modalDeleteNotif" class="modalC">
    <h3>Confirm you want to delete?</h3>
    <button class="btn btn-danger" id="cancelDelete">Cancel</button>
    <form method="post">
        <button class="btn btn-green" id="confirmDelete">Yes, Delete</button>
    </form>
</dialog>