<dialog id="modalDeleteNotif" class="modalC">
    <h3>Confirm you want to delete?</h3>
    <div id="btnSectionD">
    <button class="btn btn-danger" id="cancelDelete">Cancel</button>
    <button class="btn btn-green" id="confirmDelete">Yes, Delete</button>
    </div>
</dialog>