<dialog id="modalDeleteNotif">
    <h3>Are you sure?</h3>
    <button class="btn btn-danger" id="cancelDeleteNotif">Cancel</button>
    <form method="post">
        <button class="btn btn-green" id="yesDeleteNotif">Yes, Delete</button>
    </form>
</dialog>