<!-- Bootsrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>

        //         var facilities = [];
        //         const data = [
        //                 {
        //                         "type": "glass",
        //                         "facility": [
        //                                 {
        //                                         "place": "NORTH SHORE RECYCLING AND WASTE CENTRE",
        //                                         "coordinates": [-123.01809661781101, 49.30128946964686],
        //                                         "directions": "https://maps.app.goo.gl/2t6sn7BZBcnauV56A",
        //                                         "placeID": "ChIJw5MD3ZNwhlQRvstXN3AeLXk"
        //                                 },
        //                                 {
        //                                         "place": "POWELL STREET RETURN-IT BOTTLE DEPOT",
        //                                         "coordinates": [-123.06668623130273, 49.28432306230311],
        //                                         "directions": "https://maps.app.goo.gl/VkH4tu6EQ4AE2wkSA",
        //                                         "placeID": "ChIJ0dvlDhpxhlQRBuPcMHQ_XLs"
        //                                 }

        //                         ]
        //                 },
        //                 {
        //                         "type": "plastic",
        //                         "facility": [
        //                                 {
        //                                         "coordinates": [-122.46152803131277, 9.090931848515034],
        //                                         "directions": "https://maps.app.goo.gl/ngXdeKQDdFSYoy14A",
        //                                         "placeID": "ChIJty-jpd_ThVQRHgvaFF2xzIw",
        //                                         "place": "BLUE PLANET RECYCLING",
        //                                 },
        //                                 {
        //                                         "coordinates": [-122.81127270247502, 49.118203173139264],
        //                                         "directions": "https://maps.app.goo.gl/hxGFJyvzRh5wYJMk9",
        //                                         "placeID": "ChIJOzwBilDahVQRwDhbtflnNNo",
        //                                         "place": "EMTERRA ENVIRONMENTAL - SURREY",
        //                                 },
        //                                 {
        //                                         "coordinates": [-123.10084884294041, 49.25716962771798],
        //                                         "directions": "https://maps.app.goo.gl/bNihFfdGjDWv5EXGA",
        //                                         "placeID": "ChIJo1H5YONzhlQRkaV0MNyA7hM",
        //                                         "place": "URBAN SOURCE",
        //                                 },
        //                                 {
        //                                         "coordinates": [-122.62682891358655, 49.20014503465938],
        //                                         "directions": "https://maps.app.goo.gl/FVSg7VphsdzHFX4HA",
        //                                         "placeID": "ChIJ0dvlDhpxhlQRBuPcMHQ_XLs",
        //                                         "place": "WESTCOAST PLASTIC RECYCLING",
        //                                 }
        //                         ]
        //                 },
        //                 {
        //                         "type": "cardboard",
        //                         "facility": [
        //                                 {
        //                                         "coordinates": [-123.06668623130273, 49.28432306230311],
        //                                         "directions": "https://maps.app.goo.gl/VkH4tu6EQ4AE2wkSA",
        //                                         "placeID": "ChIJ0dvlDhpxhlQRBuPcMHQ_XLs",
        //                                         "place": "POWELL STREET RETURN-IT BOTTLE DEPOT",
        //                                 },
        //                                 {
        //                                         "coordinates": [-123.09190007177935, 49.20640098139237],
        //                                         "directions": "https://maps.app.goo.gl/e16WwSDwQmV7wcHf8",
        //                                         "placeID": "ChIJ0dvlDhpxhlQRBuPcMHQ_XLs",
        //                                         "place": "BEGG CARTON EXCHANGE",
        //                                 }
        //                         ]
        //                 },
        //                 {
        //                         "type": "paper",
        //                         "facility": [
        //                                 {
        //                                         "coordinates": [-123.06668623130273, 49.28432306230311],
        //                                         "directions": "https://maps.app.goo.gl/DRqLkQt17RrgHhYw5",
        //                                         "placeID": "ChIJ0dvlDhpxhlQRBuPcMHQ_XLs",
        //                                         "place": "POWELL STREET RETURN-IT BOTTLE DEPOT",
        //                                 },
        //                                 {
        //                                         "coordinates": [-123.10642038874201, 49.20894031159841],
        //                                         "directions": "https://maps.app.goo.gl/kk2Et7rKTVJ1F6U99",
        //                                         "placeID": "ChIJMUzxL1h0hlQR5c0fG52mBBs",
        //                                         "place": "SOUTH VAN BOTTLE DEPOT",
        //                                 },
        //                                 {
        //                                         "coordinates": [-123.1149743134225, 49.20867115835692],
        //                                         "directions": "https://maps.app.goo.gl/RhPkzSSUxZtWDeGW7",
        //                                         "placeID": "ChIJsTETJfd0hlQRybeqDDRCB-U",
        //                                         "place": "VANCOUVER ZERO WASTE CENTER",
        //                                 },
        //                         ]
        //                 },
        //                 {
        //                         "type": "metal",
        //                         "facility": [
        //                                 {
        //                                         "coordinates": [-123.08198097141488, 49.27338112280383],
        //                                         "directions": "https://maps.app.goo.gl/YEMhyRQUHdF1Th5m6",
        //                                         "placeID": "ChIJs7QaNkJxhlQRmoVAtOmnJk4",
        //                                         "place": "REGIONAL RECYCLING - VANCOUVER",
        //                                 },
        //                                 {
        //                                         "coordinates": [-122.57650130520572, 49.20857510585476],
        //                                         "directions": "https://maps.app.goo.gl/Ew55YVVVPFRJeWzR7",
        //                                         "placeID": "ChIJXXaJIBzThVQRJIXoHBRNVMc",
        //                                         "place": "WESTERN DRUM RECYCLERS",
        //                                 },
        //                         ]
        //                 }
        //         ]
        //         const getSelected2 = () => {
        //                 var selection = document.getElementById("auto-suggest").value;
        //                 // console.log(selection);
        //                 if (facilities.length > 0) {
        //                         facilities.splice(0, facilities.length);
        //                 }
        //                 data.forEach(el => {
        //                         if (el.type === selection) {
        //                                 facilities = el.facility;
        //                         }
        //                 });

        //                 removeMarkers();

        //                 document.getElementById("infoCard").innerHTML = "";

        //                 // add markers to map
        //                 for (const feature of facilities) {
        //                         // console.log(feature)
        //                         // create a HTML element for each feature
        //                         const el = document.createElement('div');
        //                         el.className = 'marker';
        //                         const popup = new mapboxgl.Popup({ offset: 25 }).setHTML(feature.place + "\n\n" + `<a href="${feature.directions}" target="_blank">${feature.directions}</a>`);

        //                         // make a marker for each feature and add to the map
        //                         new mapboxgl.Marker(el).setLngLat(feature.coordinates).addTo(map).setPopup(popup);

        //                         // info card for features
        //                         const elCard = document.createElement('div');
        //                         elCard.className = 'card';
        //                         elCard.style = 'width: 18rem;';
        //                         elCard.innerHTML = `<div class="card-body">
        //         <h5 class="card-title">${feature.place}</h5>
        //         <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        //         <a href="${feature.directions}" target="_blank" class="card-link">Get directions..</a>
        //     </div>`;

        //                         document.getElementById("infoCard").appendChild(elCard);

        //                 }
        //         }
        //         function removeMarkers() {
        //                 const markers = document.getElementsByClassName('marker');
        //                 while (markers.length > 0) {
        //                         markers[0].parentNode.removeChild(markers[0]);
        //                 }
        //         }



</script>
<script src="script.js"></script>
</body>

</html>