
<navbar id="navMobile" role="navigation" aria-label="Mobile Navigation">
<div id="dropOpt">
  <ul>
    <li class="dropItem" ><a href="/profile">Profile</a></li>
    <li class="dropItem" ><a href="/notifications">Notifications</a></li>
    <li>
      <form action="/logout" method="post" id="logoutForm" style="display: grid; place-items: center;">
        <button class="nav-link btn-outline-danger" aria-current="page" style="color: rgb(226, 81, 81); margin-left: 2vw;">Logout</button>
      </form>
    </li>
  </ul>
</div>
<div id="linkNav">
  <div id="homeLink" class="linkNavItem">
    <a href="/history">
      <!-- <img src="/images/navbar/data-reportB.png" alt="" id="scanIcon" class="homeLinkBlack"> -->
    <img src="/images/navbar/data-report.png"  alt="" id="scanIcon" class="homeLinkWhite">
  </a>
</div>
  <div id="centers" class="linkNavItem">
    <a href="/recycleCenters">
      <img src="/images/navbar/recycling-point.png" alt="" id="scanIcon" class="homeLinkWhite">
      <!-- <img src="/images/navbar/recycling-pointB.png" alt="" id="scanIcon" class="homeLinkBlack"> -->
    </a>
    </div>
  <div id="scanLink" class="linkNavItem">
    <a href="/scan">
      <img src="/images/navbar/scan.png" alt="" id="scanIcon" class="homeLinkWhite">
      <!-- <img src="/images/navbar/scanB.png" alt="" id="scanIcon" class="homeLinkBlack"> -->
    </a></div>
  <div id="tutorialLink" class="linkNavItem">
    <a href="/tutorial">
      <img src="/images/navbar/manual-book.png" alt="" id="scanIcon" class="homeLinkWhite">
      <!-- <img src="/images/navbar/manual-bookB.png" alt="" id="scanIcon" class="homeLinkBlack"> -->
    </a></div>
  <div id="profileLink" class="linkNavItem">
    <a id="aProfile">
      <img src="/images/navbar/user.png" alt="" id="scanIcon" class="homeLinkWhite">
      <!-- <img src="/images/navbar/userB.png" alt="" id="scanIcon" class="homeLinkBlack"> -->
    </a>
  </div>
</div>
</navbar>