
<navbar id="navMobile" role="navigation" aria-label="Mobile Navigation">
<div id="dropOpt">
  <ul>
    <li class="dropItem" ><a href="/profile">Profile</a></li>
    <li class="dropItem" ><a href="/notifications">Notifications</a></li>
    <li>
      <form action="/logout" method="post" id="logoutForm" style="display: grid; place-items: center;">
        <button class="nav-link btn-outline-danger" aria-current="page" style="color: rgb(226, 81, 81); margin-left: 2vw;">Logout</button>
      </form>
    </li>
  </ul>
</div>
<div id="linkNav">
  <div id="homeLink"><a href="/scan"><img src="/images/navbar/home-page.png" alt="" id="scanIcon"></a></div>
  <div id="centers"><a href="/recycleCenters"><img src="/images/navbar/search.png" alt="" id="scanIcon"></a></div>
  <div id="scanLink"><a href="/scan"><img src="/images/navbar/scan.png" alt="" id="scanIcon"></a></div>
  <div id="tutorialLink"><a href="/tutorial"><img src="/images/navbar/book.png" alt="" id="scanIcon"></a></div>
  <div id="profileLink"><a id="aProfile"><img src="/images/navbar/user.png" alt="" id="scanIcon"></a></div>
</div>
</navbar>