<div class="card">
    <h5 class="card-header"><%= notifications.title %></h5>
    <div class="card-body">
      <p class="card-text"><%= notifications.notes %> <br> 
       <b> Day:</b> <%= notifications.day%> <br>
         <b>Time:</b> <%= notifications.time %></p>
        <a href="/createNotification" class="btn btn-primary">Update</a>
    </div>
  </div>