<div id="termMsg">
    <p>By continuing to use this site you are agreeing to our use of cookies and personal data in accordance with our
        Privacy Policy. You are also agreeing to the site's Terms of Use
    </p>
    <div style="text-align: right;">
        
        <button class="btn btn-green" id="openTermC" >Read more</button>
    </div>
</div>